@* @model List<DBCRUDEMPLEADO.Models.Empleado> *@
@model DBCRUDEMPLEADO.Models.ViewModels.EmpleadoVM
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="card">
    <div class="card-header">
        <h5>Lista de empleados</h5>
    </div>
    <div class="card-body">
        <!-- Button trigger modal -->
        <a class="btn btn-success btn-sm" onclick="fnCrearEmpleado()">Crear Nuevo</a>

        @* Tabla de detalles empleados *@
        <hr />
        @* <table class="table table-striped" id="tblEmpleados">
        <thead>
        <tr>
        <th>Nombre Completo</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Cargo</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.oListaEmpleado)
        {
        <tr>
        <td>@item.NombreCompleto</td>
        <td>@item.Correo</td>
        <td>@item.Telefono</td>
        <td>@item.oCargo.Descripcion</td>
        <td>
        <a class="btn btn-warning btn-sm" asp-action="Empleado_Detalle" asp-controller="Home" asp-route-idEmpleado="@item.IdEmpleado">Editar</a>
        <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Home" asp-route-idEmpleado="@item.IdEmpleado">Eliminar</a>
        </td>
        </tr>
        }
        </tbody>
        </table> *@

        <table class="table table-striped" id="tblEmpleados">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Cargo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal Guardar -->
<div class="modal fade" id="mdlEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input type="hidden" id="idEmpleado" />

                    <div class="mb-2">
                        <label class="form-label" for="txtNombreCompleto">Nombre Completo</label>
                        <input class="form-control form-control-sm" type="text" id="txtNombreCompleto" />
                    </div>

                    <div class="mb-2">
                        <label class="form-label" for="txtCorreo">Correo</label>
                        <input class="form-control form-control-sm" type="text" id="txtCorreo" />
                    </div>

                    <div class="mb-2">
                        <label class="form-label" for="oEmpleado.Telefono">Telefono</label>
                        <input class="form-control form-control-sm" type="text" id="txtTelefono" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="cbCargos">Cargo</label>
                        <select class="form-select form-select-sm" id="cbCargos">
                            <option selected disabled>-- Selecccionar --</option>
                        </select>
                    </div>
                </form>

                @*  <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre Completo:</label>
                <input type="text" class="form-control" id="IdNombreCompleto">
                </div>
                <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Correo:</label>
                <input type="text" class="form-control" id="IdCorreo">
                </div>
                <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Telefono:</label>
                <input type="text" class="form-control" id="IdTelefono">
                </div> *@

            </div>
            <div class="modal-footer">
                <button id="btnGuardarEmpleado" class="btn btn-success d-none"> <i class="bi bi-floppy"></i> Guardar</button>
                <button id="btnEditarEmpleado" class="btn btn-success d-none"> <i class="bi bi-floppy"></i> Actualizar</button>
                <button type="button" class="btn btn-secondary btnCancelarModal" data-bs-dismiss="modal"> Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@* Llamar el archivo javascrip *@
<script src="~/js/main.js"></script>